<!-- Donate Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Donate</h2>
                    <h3 class="section-subheading text-muted">Help be a part of a living legacy.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/donate/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1983</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The American Chestnut Foundation was founded in 1983 by a group of prominent plant scientists who recognized the severe impact the demise of the American chestnut tree imposed upon the local economy of rural communities, and upon the ecology of forests within the tree’s native range. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/donate/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1989</h4>
                                    <h4 class="subheading">A Research Forest Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Established the Wagner Research Farm, a breeding station in Meadowview, Virginia, to execute the backcross breeding program developed by Philip Rutter, Dr. David French and the late Dr. Charles Burnham, three of TACF’s founding scientists.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/donate/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Meadowview Research Farms celebrates 25 years of groundbreaking research, genetic breeding, and process innovation with the American Chestnut. The farm has grown to 166 acres and is the home to over 50,000 American Chestnut trees and some of the most blight resistent American Chestnuts to date.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/donate/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Launch of capital campaign to build the American Chestnut Learning Forest close the American Chestnut Foundation Headquarters in Asheville, NC. The focus will be on the "King of Trees" in American History. Vistors will leave knowing the impact that the American Chestnut had on American History and shaping the economy Appalachia.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>