<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">What is an Acorn Green School?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Green School Lessons</h4>
                    <p class="text-muted">What makes something a "Green School Lesson"?  Environmental Education is a wide-ranging discipline that includes subjects from science to social studies to art!  The goal of the Green Schools Program is to give students the knowledge and skills necessary to make responsible, informed choices about their natural environment as citizens.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">School Gardens</h4>
                    <p class="text-muted">The School Garden Network is a partnership of Athens organizations that have come together to make sure that every school in Athens-Clarke County has a school garden that is accessible to enhance instruction that engages students, staff, families and the community.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Outdoor Learning Spaces</h4>
                    <p class="text-muted">We plan to more strongly encourage and support the use and maintenance of outdoor learning spaces! From full scale pollinator habitats to that little patch of grass that you like to take your students out to journal in, the Outdoor Learning Spaces Project aims to help you and your students make outdoor learning happen!</p>
                </div>
            </div>
        </div>
    </section>