<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Dedicated to restoring the American Chestnut in Appalachia.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Trees hold our past, present, and future. They protect us from unfavorable conditions, supply us with food, provide lumber for our homes, shelter woodland creatures, and offer a quiet refuge from the noise of cities. Imagine that in a few short years an entire forest is killed. The forest can no longer offer shelter, food, or refuge. The Appalachian forest lost billions of it’s most prized trees, the American Chestnut. Families were left to wonder where they would get their next meal or paycheck as chestnuts vanished from the landscape. It’s time to restore the landscape of the Appalachian Forest with heritage trees like the American Chestnut so that families can experience the beauty that past generations enjoyed.</p>
                </div>
            </div>
        </div>
    </section>